* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  color: #494545;
  font-size: 15px;
  font-family: 'open_sanslight', sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover, a:active{
  text-decoration: none;
}
ul{
  list-style: none;
}
img {
  max-width: 100%;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.title {
  margin: 0 auto;
  text-align: center;
}
.btn {
  background: #d07081;
  border-radius: 30px;
  padding: 10px 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.bg_color {
  background-color: #cfd9f2de;
}
.list i {
  margin-right: 20px;
  font-size: 50px;
  color: #d07081;
}
/*-------------*/
.header {
  height: 74vh;
  padding: 30px 0 15px;
  /*position: fixed;*/
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: inset 0 0 5px 1px #58647a;
  background: #e93c1e75 url("../img/header_bg.jpeg") no-repeat;
  position: relative;
  color: #d07081;
}
.header_img {
  position: absolute;
  right: 15%;
  bottom: 0;
  text-align: end;
}
.header_img img {
  width: 51%;
}
.header_menu {
  display: flex;
  justify-content: start;
}
.header_menu li {
  font-family: 'open_sansregular', sans-serif;
  font-size: .7333rem;
  line-height: 1.9em;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-right: 15px;
}
.header_inner {
  color: #041469;
}
.header_title {
  margin: 50px 0 0;
  color: #d07081;
}
.header_inner {
  width: 60%;
}
.header_info {
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: capitalize;
  color: #d07081;
  letter-spacing: 0.2rem;
  line-height: 55px;
}
.header_text {
  font-size: 2rem;
  margin: 3% 0;
  font-weight: 600;
}
.header_btn {
  letter-spacing: 2px;
}
/*------yourself--------*/
.yourself {
  padding-top: 40px;
}
.yourself_title {
  font-size: 38px;
  margin-bottom: 95px;
}
.yourself_list li {
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
/*--------statistic------*/
.statistic {
  padding: 37px 0 12px;
}
.statistic_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.statistic_number {
  font-size: 26px;
  font-weight: 400;
  border-bottom: 3px solid #d07081;
  padding-bottom: 10px;
}
.statistic_number span {
  margin-right: 7px;
}
.statistic_btn {
  margin-top: 23px;
}
/*----------leader----------------*/
.leader {
  padding: 36px 0px;
}
.leader_img {
  width: 100%;
  max-height: 500px;
  max-width: 370px;
}
.leader_title {
  margin: 20px 0;
  text-align: center;
}
.leader_list {
  list-style: disc;
}
.leader_list li {
  padding: 10px 0px;
}
/*---------thinking--------------*/
.thinking {
  padding: 55px 0 35px;
}
.thinking_title {
  margin-bottom: 25px;
}
.thinking_list li {
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
/*---------slider------------*/
.sliders {
  padding: 45px 0 23px;
}
.sliders_title {
  margin-bottom: 35px;
}
.slick-prev, .slick-next {
  font-size: 42px;
  color: #d07081;
  width: 21px;
  height: 28px;
  margin-top: -14px;
  transition: all 0.5s ease;
}
.slick-prev {
  left: -53px;
}
.car-slider .slick-prev {
  font-size: 20px;
}
.slick-prev:hover {
  color: #d07081 !important;
  left: -59px;
}
.slick-next {
  right: -53px;
}
.car-slider .slick-next {
  font-size: 20px;
}
.slick-next:hover {
  color: #d07081 !important;
  right: -59px;
}
.slick-prev:before {
  display: none;
}
.slick-next:before {
  display: none;
}
.slick-dots {
  bottom: -45px;
}
.slick-dots li button::before {
  font-family: slick;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 7px;
  height: 7px;
  content: "";
  opacity: 1;
  background: #d0708166;
  border-radius: 50%;
}
.slick-dots li.slick-active button::before {
  background: #d07081;
}
.slick-slide {
  opacity: 0.5;
}
.slick-current {
  opacity: 1;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.slick-slide img{
  width: 100%;
  height: 100%;
}
.slick-slide.slick-clone {
  width: 100%;
}
.slick-track
{
  display: flex !important;
}
.slick-slide
{
  height: inherit !important;
}
.slide {
  height: 100%;
}
/*------goals----------------*/
.goals {
  padding: 63px 0 40px;
}
.goals_subtitle {
  margin-top: 15px;
  font-style: italic;
  font-size: 1.2rem;
}
.goals_list li {
  display: flex;
  padding: 10px 20px;
  font-size: 1rem;
  align-items: center;
}
.goals_list i {
  font-size: 2.9rem;
}
.goals h5 {
  font-weight: 700;
}
.goals_btn {
  margin-top: 0;
}
/*---------media----------------*/
@media (max-width: 991px) {
  .header {
    height: 60vh;
  }
  .header_title {
    margin-top: 0;
    font-size: 2.2rem;
  }
  .header_img img {
    width: 40%;
    right: 10%;
  }
  .header_menu {
    flex-direction: column;
    text-align: start;
  }
  .header_menu li {
    margin-bottom: 5px;
  }
  .header_info {
    font-size: 1.0rem;
    line-height: 2rem;
  }
  .header_text {
    margin: 1% 0;
    font-size: 1.7rem;
  }
  .header_btn {
    padding: 5px 10px;
    font-size: 1rem;
    margin-top: 5px;
  }
  .yourself_title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .header_img {
    text-align: end;
    right: 3%;
  }
  .header_img img {
    width: 42%;
  }
  .header_inner {
    width: 66%;
  }
  .header_menu li {
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .header_img img {
    width: 55%;
  }
  .header_inner {
    width: 52%;
    margin-top: 20px;
  }
  .header_menu li {
    font-size: 10px;
  }
  .header_text {
    font-size: 1.1rem;
  }
  .header_info {
    line-height: 1rem;
  }
  .leader_title {
    font-size: 1.4rem;
  }
  .statistic_number {
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
  }
  .sliders_title {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
  .list i {
    font-size: 30px;
    margin-right: 10px;
  }
}
@media (max-width: 390px) {
  .header_img img {
    width: 70%;
  }
  .header_inner {
    width: 37%;
  }
  .header_text {
    font-size: 0.8rem;
    margin: 15px 0 20px;
  }
  .header_btn {
    letter-spacing: 0;
  }
  .leader_title {
    font-size: 1.2rem;
  }
}
