* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  color: #494545;
  font-size: 15px;
  font-family: 'open_sanslight', sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover, a:active{
  text-decoration: none;
}
ul{
  list-style: none;
}
img {
  max-width: 100%;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.title {
  text-align: center;
}
.btn {
  background: #d07081;
  border-radius: 30px;
  padding: 10px 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.bg_color {
  background-color: #cfd9f2de;
}
.list i {
  margin-right: 20px;
  font-size: 50px;
  color: #d07081;
}
/*-------------*/
.header {
  height: 74vh;
  padding: 30px 0 15px;
  /*position: fixed;*/
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: inset 0 0 5px 1px #58647a;
  background: #e93c1e75 url("../img/header_bg.jpeg") no-repeat;
  position: relative;
  color: #d07081;
}
.header_img {
  position: absolute;
  right: 10%;
  bottom: 0;
  text-align: end;
}
.header_img img {
  width: 45%;
}
.header_menu {
  display: flex;
  justify-content: start;
}
.header_menu li {
  font-family: 'open_sansregular', sans-serif;
  font-size: .7333rem;
  line-height: 1.9em;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-right: 15px;
}
.header_inner {
  color: #041469;
}
.header_title {
  margin: 50px 0 0;
  color: #d07081;
}
.header_inner {
  width: 60%;
}
.header_info {
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: capitalize;
  color: #d07081;
  letter-spacing: 0.2rem;
  line-height: 55px;
}
.header_text {
  font-size: 2rem;
  margin: 3% 0;
  font-weight: 600;
}
.header_btn {
  letter-spacing: 0;
  transition: all 1s ease;
}
.to-up {
  position: fixed;
  bottom: 30px;
  right: 35px;
  display: none;
  z-index: 22;
  cursor: pointer;
  font-size: 42px;
  color: #d07081;
}
/*------yourself--------*/
.yourself {
  padding: 40px 0;
}
.yourself_title {
  font-size: 38px;
  margin-bottom: 60px;
}
.yourself_list li {
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
/*--------statistic------*/
.statistic {
  padding: 37px 0 12px;
}
.statistic_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.statistic_number {
  font-size: 26px;
  font-weight: 400;
  border-bottom: 3px solid #d07081;
  padding-bottom: 10px;
}
.statistic_number span {
  margin-right: 7px;
}
.statistic_btn {
  margin-top: 23px;
}
/*----------leader----------------*/
.leader {
  padding: 36px 0px;
}
.leader_img {
  width: 100%;
  max-height: 500px;
  max-width: 370px;
}
.leader_title {
  margin: 20px 0;
  text-align: center;
}
.leader_list {
  list-style: disc;
}
.leader_list li {
  padding: 10px 0px;
}
/*---------thinking--------------*/
.thinking {
  padding: 55px 0 35px;
}
.thinking_title {
  margin-bottom: 25px;
}
.thinking_list li {
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
/*---------slider------------*/
.sliders {
  padding: 45px 0 23px;
}
.sliders_title {
  margin-bottom: 35px;
}
.slick-prev, .slick-next {
  font-size: 42px;
  color: #d07081;
  width: 21px;
  height: 28px;
  margin-top: -14px;
  transition: all 0.5s ease;
}
.slick-prev {
  left: -53px;
}
.car-slider .slick-prev {
  font-size: 20px;
}
.slick-prev:hover {
  color: #d07081 !important;
  left: -59px;
}
.slick-next {
  right: -53px;
}
.car-slider .slick-next {
  font-size: 20px;
}
.slick-next:hover {
  color: #d07081 !important;
  right: -59px;
}
.slick-prev:before {
  display: none;
}
.slick-next:before {
  display: none;
}
.slick-dots {
  bottom: -45px;
}
.slick-dots li button::before {
  font-family: slick;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 7px;
  height: 7px;
  content: "";
  opacity: 1;
  background: #d0708166;
  border-radius: 50%;
}
.slick-dots li.slick-active button::before {
  background: #d07081;
}
.slick-slide {
  opacity: 0.5;
}
.slick-current {
  opacity: 1;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.slick-slide img{
  width: 100%;
  height: 100%;
}
.slick-slide.slick-clone {
  width: 100%;
}
.slick-track
{
  display: flex !important;
}
.slick-slide
{
  height: inherit !important;
}
.slide {
  height: 100%;
}
/*------goals----------------*/
.goals {
  padding: 63px 0 40px;
}
.goals_subtitle {
  margin-top: 15px;
  font-style: italic;
  font-size: 1.2rem;
}
.goals_list li {
  display: flex;
  padding: 10px 20px;
  font-size: 1rem;
  align-items: center;
}
.goals_list i {
  font-size: 2.9rem;
}
.goals h5 {
  font-weight: 700;
}
.goals_btn {
  margin-top: 0;
}
/*-------timetable-------*/
.timetable {
  padding: 50px 20px;
}
.timetable_title {
  margin-bottom: 35px;
  font-weight: bold;
}
.timetable h5 {
  font-weight: bold;
}
.timetable_btn {
  margin-top: 40px;
}
.timeline-item:nth-child(odd) {
  text-align: right;
  padding-right: 40px;
}
.timeline-item:nth-child(odd)::before {
  right: -2px;
}
.timeline-item::before {
  content: "●";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #d07081;
  color: #d07081;
  font-size: 37px;
  line-height: 32%;
  text-indent: -10px;
}
.timeline-item:last-child::before {
  height: 0;
}
.timeline-item:nth-child(even) {
  margin-left: 50%;
  padding-left: 40px;
}
.timeline-item:nth-child(even)::before {
  left: -1px;
}
.timeline-item {
  padding: 10px 0;
  position: relative;
}
.timeline-item p {
  line-height: 1.4;
  margin: 4px 0 0 0;
}
/*---------reviews------------*/
.reviews {
  padding: 25px 0;
}
.reviews_title {
  margin-bottom: 30px;
}
/*--------sign up--------------*/
.sign-up {
  padding: 35px 0 60px;
}
.form {
  display: flex;
  flex-direction: column;
  color: #041469;
  border-radius: 30px;
  background: #fff;
  padding: 42px 26px 57px;
  align-items: center;
  margin-top: 60px;
  box-shadow: 0 20px 90px #cfd9f2de;
}
.form_title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.form label {
  text-align: left;
  margin-top: 20px;
}
.form_input {
  width: 80%;
  border-radius: 30px;
  padding: 12px;
  border: 1px solid #041469;
}
.form_btn {
  width: 50%;
  margin-top: 35px;
}
.form_info {
  margin: 30px 0 0;
  width: 95%;
  text-align: center;
  font-size: 0.7rem;
}
.form_info a {
  text-decoration: underline;
}
.form_info a:hover {
  color: #d07081;
}
/*-------present----------------*/
.present {
  background: url("../img/present.jpg") no-repeat center center/cover;
  height: 53vh;
  position: relative;
}
.present_shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  min-height: 53vh;
  background: rgb(220 220 220 / 39%);
  width: 100%;
}
.present_btn {
  display: block;
  margin: 40px auto 0;
}
.present_title {
  margin-top: 65px
}
/*--------contact----------------*/
.contact {
  padding: 25px 0;
}
.contact_title {
  margin-bottom: 25px;
}
.contact_info {
  /*width: 470px;*/
  /*height: 344px;*/
  background-color: rgba(207, 217, 242, 0.87);
  padding: 21px 15px;
  color: #fff;
  border: none;
}
.contact_info:before {
  content: "";
  border: 20px solid transparent;
  border-left: 20px solid #cfd9f2de;
  border-top: 20px solid #cfd9f2de;
  border-radius:3px;
  transform:rotate(-45deg);
  position: absolute;
  display: block;
  top: 8px;
  left: -4px;
}
.contact_map {
  min-height: 219px;
  height: 100%;
  background: url("../img/map.png") no-repeat top center/cover;
}
.card__logo {
  font-size: 21px;
  color: #fff;
  letter-spacing: 0.03em;
}
.card__item{
  margin-right: 20px;
}
.card__item:last-child{
  margin-right: 0;
}
.card__link {
  color: #fff;
  display: flex;
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.card__item:hover .card__link {
  color: #d07081;
  border: 2px solid #d07081;
}
.card__header {
  border-bottom: 2px solid rgba(256, 256, 256, 0.22);
  border-radius: 1px;
}
.card__main {
  padding-top: 30px;
  justify-content: space-between;
}
.card__contact {
  width: 200px;
  font-size: 16px;
}
.card__contact i {
  font-size: 14px;
}
.card__contact a:hover {
  color: #d07081;
}
.card__text {
  width: 186px;
}
.card__phone {
  color: white;
  font-size: 16px;
  padding-left: 8px;
  margin-bottom: 2px;
  display: block;
}
.card__phones {
  margin-bottom: 22px;
}
.card__adress i {
  margin: 5px 12px 0 5px;
  color: #fff;
}
.card__adress p {
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 0;
  padding-right: 15px;
}
.card__adress {
  margin-bottom: 21px;
  letter-spacing: 0.02em;
}
.card__email {
  color: #fff;
  padding-left: 11px;
  letter-spacing: 0.02em;
}
.card__text p {
  color: rgba(256, 256, 256, 0.75);
  font-size: 12px;
  letter-spacing: 0;
  padding-left: 3px;
  margin-bottom: 16px;
}
.card__text p:last-child {
  margin-bottom: 0;
}
/*---------media----------------*/

@media (max-width: 991px) {
  .header {
    height: 60vh;
  }
  .header_title {
    margin-top: 0;
    font-size: 2.2rem;
  }
  .header_img img {
    width: 40%;
    right: 10%;
  }
  .header_menu {
    flex-direction: column;
    text-align: start;
  }
  .header_menu li {
    margin-bottom: 5px;
  }
  .header_info {
    font-size: 1.0rem;
    line-height: 2rem;
  }
  .header_text {
    margin: 1% 0;
    font-size: 1.7rem;
  }
  .header_btn {
    padding: 5px 10px;
    font-size: 1rem;
    margin-top: 5px;
  }
  .yourself_title {
    margin-bottom: 50px;
  }
  .form_input {
    width: 100%;
  }
  .contact_info {
    margin-top: 20px;
  }
  .contact_info:before {
    top: 28px;
  }
}
@media (max-width: 767px) {
  .header_img {
    text-align: end;
    right: 3%;
  }
  .header_img img {
    width: 42%;
  }
  .header_inner {
    width: 66%;
  }
  .header_menu li {
    margin-bottom: 0;
  }
  .form {
    margin-top: 30px;
  }
  .form_btn {
    width: 65%;
    font-size: 0.9rem;
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .header_img img {
    width: 55%;
  }
  .header_inner {
    width: 52%;
    margin-top: 20px;
  }
  .header_menu li {
    font-size: 10px;
  }
  .header_text {
    font-size: 1.1rem;
  }
  .header_info {
    line-height: 1rem;
  }
  .leader_title {
    font-size: 1.4rem;
  }
  .statistic_number {
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
  }
  .sliders_title {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
  .list i {
    font-size: 30px;
    margin-right: 10px;
  }
  .timetable {
    padding: 40px 5%;
  }
  .timeline-item:nth-child(odd)::before {
    left: -1px;
  }
  .timeline-item:nth-child(even)::before {
    left: -1px;
  }
  .timeline-item:nth-child(even) {
    margin-left: 0;
  }
  .timeline-item:nth-child(odd) {
    text-align: left;
    padding-left: 40px;
    padding-right: 0;
  }
  .form_btn {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .header_img img {
    width: 70%;
  }
  .header_inner {
    width: 37%;
  }
  .header_text {
    font-size: 0.8rem;
    margin: 15px 0 20px;
  }
  .header_btn {
    letter-spacing: 0;
  }
  .leader_title {
    font-size: 1.2rem;
  }
}
